<!-- <div class="main-confirm">
  <div class="content-container">
    <mat-icon id="close-icon" (click)="closeDialog()">x</mat-icon>
    <span class="content-span full-width">{{data.message}} </span>
  </div>
  <button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>
  <button mat-flat-button id="yes-button" [mat-dialog-close]="true">YES</button>
</div> -->

<div class="confirm">
  <div class="confirm__window">
      <div class="confirm__titlebar">
          <span class="confirm__title">Alert </span>
          <button class="confirm__close" (click)="closeDialog()">&times;</button>
      </div>
      <div class="confirm__content"> {{data.message}} </div>
      <div class="confirm__buttons">
          <button class="confirm__button confirm__button--ok confirm__button--fill" [mat-dialog-close]="true">Yes</button>
          <button class="confirm__button confirm__button--cancel" [mat-dialog-close]="false">No</button>
      </div>
  </div>
</div>




